/* Entete */

header { 
    position: fixed;
    display: flex;
    padding-bottom: 1px;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    text-align: center;
    background-image: linear-gradient(to top right, white, rgb(161, 161, 161));
    color: black;
}

header a, header img{
    position :auto;
    margin-right: auto;
    padding-left: 30px;
    width: auto;
    height: 180px;
}

header a.pfp_login img{
  position :auto;
  margin-right: auto;
  padding-left: 30px;
  width: auto;
  height: 10px;
}

.menu-dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-icon{
  margin: auto;
  padding: 30px;
  width: 120px;
  height: 120px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre */
  z-index: 1;
  list-style-type:none;
  padding-left: 0;
  margin-top: -1%;
  margin-left: 15%;
  border-radius: 3px; /* Ajoute des coins arrondis */
  border: 1px solid #ddd; /* Ajoute une bordure */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    height: auto;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.menu-dropdown:hover .dropdown-content {
    display: block;
}

#dropdown-icon:hover + .dropdown-content {
    display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
}

.publish-button {
  position:absolute;
  padding: 10px 20px; /* Réduit le padding pour rendre le bouton plus compact */
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  font-family: "Helvetica Neue", Helvetica; /* Utilise la police Helvetica sans serif */
  font-size: 14px; /* Taille de police légèrement plus petite */
  margin-left:-13%;
  margin-top: 5%;
  height: auto;
}

.publish-button:hover {
  background-color: #0056b3;
}

.search-bar {
  margin: 0 20px; /* Espacement entre le logo et la barre de recherche, et entre la barre de recherche et les boutons */
  height: auto; /* La barre de recherche occupe 80% de la hauteur du header */
  margin-left: 38%;
  margin-top: 3%;
  position: absolute;
  align-self: center;
}

.search-bar input {
  width: 200%; /* La barre de recherche s'étend sur toute la largeur disponible */
  padding: 4px; /* Réduit le padding pour rendre la barre de recherche plus fine */
  font-size: 14px;
}

.search-bar button {
  padding: 4px 8px; /* Réduit le padding pour rendre le bouton de recherche plus compact */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  margin-top: -14.5%;
  margin-left: 157%;
  position: absolute;
  align-self: center;
}

/*Menu*/

.menu{
  position: relative;
  margin-top: 200px;
}

/* Lien/bouton de connexion */

a#connexion {
  display: block;
  margin-top: -1.7%;
  margin-left: 80%;
  width:200px;
  height: 40px;
  text-align: middle;
}

a#connexion button{
  border-radius: 5px;
  width:inherit;
  height: inherit;
}
a#connexion button:hover{
  background-color: lightblue;
}

/* Texte */

div#texte {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    color: grey;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 1px;
  }

  div#texte div{
    padding: 10px;
    margin-left:20px;
    margin-right: 20px;
  }

 /* Tableaux */

 div#table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: justify;
    padding-left: 475px;
    padding-right: 400px;
    padding-bottom: 50px;
    color: grey;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 1px;
  }

  div#table table{
    border: 1px solid black;
    width: 225px;
    height: 200px;
  }

  div#table table th{
    padding: 10px 10px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 22px;
  }
  div#table table td{
    padding: 0px 10px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    text-align: justify;
    font-size: 16px;
  }
  div#table table tr{
    height: 50%;
    width: 200px;
  }

/*rose*/
  div#table table#rose{
    border: 3px solid #e1046d;
    border-collapse: collapse;
  }
  div#table table#rose th{
    background-image:  linear-gradient(to right, lightpink, #e1046d);
  }
  div#table table#rose td{
    background-color: rgb(255, 220, 226);
  }
/*vert*/
div#table table#vert{
    border: 3px solid #048c5d;
    border-collapse: collapse;
  }
  div#table table#vert th{
    background-image:  linear-gradient(to right, #9FD8C4, #048c5d);
  }
  div#table table#vert td{
    background-color: #ceffef;
  }
/*bleu*/
div#table table#bleu{
    border: 3px solid #049dc3;
    border-collapse: collapse;
  }
  div#table table#bleu th{
    background-image:  linear-gradient(to right, lightblue, #049dc3);
  }
  div#table table#bleu td{
    background-color: rgb(216, 245, 255);
  }
