/* Réinitialisation et styles globaux */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-image: url('back-ground.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
  }
  
  header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #6a92d4, #a7c7e7);
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  header a {
    text-decoration: none;
    color: white;
    background-color: #ff6347;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  
  header a:hover {
    background-color: #ff4500;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);

  }
  
  .login-form {
    width: 50%;
    max-width: 600px;
    margin: 150px auto; /* Pour centrer le formulaire au milieu de la page */
    background: #ffffffb3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    color: #5a82d1;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-control:focus {
    border-color: #5a82d1;
    box-shadow: 0 0 5px rgba(90, 130, 209, 0.5);
  }
  
  .btn-primary {
    background-color: #5a82d1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-primary:hover {
    background-color: #4169e1;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
  }
  
  h4, h2 {
    color: #333;
  }
  
  textarea.form-control {
    resize: vertical;
  }
  
  sup {
    font-size: 12px;
    color: #666;
  }
  